@charset "utf-8";

/* Import fonts family from Google APIs */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

/* Unsets default CSS */
* {
    margin: 0;
    padding: 0;
}

/* Body of the page. Child elements inherits it too */
body {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: whitesmoke;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1 {
    background-color: #5354FA;
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 20px; 
    box-shadow: 1px 1px 7px lightgray;
}
/* Main piece of the App */
.box {
    display: block;
    background-color: white;
    margin: auto;
    width: 30em;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px lightgray;
}

.listItem {
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: whitesmoke;
    overflow: hidden;  
    box-shadow: 1px 1px 7px lightgray;
}

.listItem:hover {
    background-color: rgb(255, 60, 0);
    border-color: rgb(255, 60, 0);
    color: white;
}

.input-text {
    border: solid 2px #5EAFF5;
    border-radius: 10px;
    height: 1.5em;
}

.btn {
    background-color: #5EAFF5;
    width: 2em;
    height: 2em;
    border: 0px;
    border-radius: 20px;
    color: white;
    margin: 10px;
    box-shadow: 1px 1px 7px lightgray;
}

.btn:hover {
    background-color: #0385f7;
}